<% if @songs %>
    <table class="table table-hover">
      <tr>
        <th>
          id
        </th>
        <th>
          tytuł
        </th>
        <th>
          wykonawca
        </th>
        <th>
          album
        </th>
        <td></td>
      </tr>
      <% @songs.each do |s| %>
        <tr>
          <td>
            <%= s.song_id %>
          </td>
          <td>
            <%= s.tag(:title) %>
          </td>
          <td>
            <%= s.tag(:artist) %>
          </td>
          <td>
            <%= s.tag(:album) %>
          </td>
          <td>
            <%= link_to 'Odtwarzaj', song_url(s.song_id), :remote => true %>
            <%= link_to 'Kolejkuj', add_to_playlist_url(s.song_id), :remote => true %>
          </td>

        </tr>
      <% end %>
    </table>
<% else %>
    dupa.
<% end %>