//console.log(($('#player').find('audio'));
$('#player').find('audio').find('source').attr('src', '<%= song_url(@song, :format => :mp3) %>');
$('#player').find('audio')[0].load();
$('#player').find('audio')[0].play();