<%=button_to 'odśwież', show_playlist_url, :remote => true %>
<%if @playlist %>
    <ul>
      <% @playlist.each do |song| %>
        <li>
          <%=song.tag(:title) %> by <%=song.tag(:artist) %>
        </li>
      <% end %>
    </ul>
<% end %>