<!DOCTYPE html>
<html>
<head>
  <title>Musicserver</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style="padding-top: 50px;">
<div class="navbar navbar-fixed-top">
  <div id="player">
    <audio controls="controls">
      <source src="" type='audio/mpeg' >
      Audio not supported.
    </audio>
    <%= link_to playlist_get_next_url(), :remote => true do %>
        <span class="glyphicon glyphicon-forward'"></span>
    <% end %>
  </div>
</div>

<div class="col-xs-9">
    <%= yield %>
</div>
<div class="col-xs-3">
  <div id="playlist">
    <%= render partial: 'playlist/show' %>
  </div>
</div>

</body>
</html>
